/* 기본 스타일 설정 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;  /* 화면 전체 높이를 차지 */
  width: 100%;   /* 화면 전체 너비를 차지 */
}

.mood-container {
  display: flex;
  justify-content: center;  /* 수평 중앙 정렬 */
  align-items: center;      /* 수직 중앙 정렬 */
  width: 80vw;             /* 뷰포트 너비 */
  height: 80vh;            /* 뷰포트 높이 */
  box-sizing: border-box;    /* 내부 패딩을 포함한 전체 크기 계산 */
  margin-top: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);  /* 10열 그리드 */
  grid-template-rows: repeat(10, 1fr);     /* 10행 그리드 */
  gap: 5px;                                /* 그리드 항목 간 간격 */
  width: 80vw;                             /* 그리드 전체 너비 */
  height: 80vw;                            /* 그리드 전체 높이 */
  max-width: 1000px;                       /* 그리드 최대 너비 */
  max-height: 1000px;                      /* 그리드 최대 높이 */
  background-color: #fff;                  /* 그리드 배경 */
  border-radius: 10px;                     /* 모서리 둥글게 */
  box-sizing: border-box;                  /* 내부 패딩을 포함한 크기 계산 */
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  width: 130px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  transition: filter 0.3s ease;   /* 필터 효과 애니메이션 */
  filter: brightness(0.3);        /* 어둡게 만드는 효과 */
}

/* 선택된 영역 및 인접한 영역 강조 스타일 */
.highlighted {
  filter: brightness(1) !important;      /* 강조된 박스는 원래 밝기로 유지 */
}
